In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

# Pandas
import pandas as pd

In [27]:
# Read CSV file into a pandas DataFrame

measurements_df = pd.read_csv('./Resources_Clean/Clean_hawaii_measurements.csv')
measurements_df.head(5)
measurements_df = measurements_df.reset_index()
measurements_df = measurements_df.rename(columns = {'index':'measurement_id'})

measurements_df.head(5)

   measurement_id      station        date  prcp  tobs
0               0  USC00519397  2010-01-01  0.08    65
1               1  USC00519397  2010-01-02  0.00    63
2               2  USC00519397  2010-01-03  0.00    74
3               3  USC00519397  2010-01-04  0.00    76
4               4  USC00519397  2010-01-07  0.06    70

In [28]:
measurements_df.dtypes

measurement_id      int64
station            object
date               object
prcp              float64
tobs                int64
dtype: object

In [4]:
# Use Orient='records' to create a list of data to write
# to_dict() cleans out DataFrame metadata as well
# http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
measurement_data = measurements_df.to_dict(orient='records')

In [5]:
# Data is just a list of dictionaries that represent each row of data
print(measurement_data[:5])

[{'measurement_id': 0, 'station': 'USC00519397', 'date': '2010-01-01', 'prcp': '0.08', 'tobs': '65'}, {'measurement_id': 1, 'station': 'USC00519397', 'date': '2010-01-02', 'prcp': '0.0', 'tobs': '63'}, {'measurement_id': 2, 'station': 'USC00519397', 'date': '2010-01-03', 'prcp': '0.0', 'tobs': '74'}, {'measurement_id': 3, 'station': 'USC00519397', 'date': '2010-01-04', 'prcp': '0.0', 'tobs': '76'}, {'measurement_id': 4, 'station': 'USC00519397', 'date': '2010-01-07', 'prcp': '0.06', 'tobs': '70'}]

In [6]:
# Create an engine to a SQLite database file called `customers.sqlite`
engine = create_engine('sqlite:///hawaii.sqlite')

In [7]:
len(measurement_data)

18103

In [8]:
# Create a connection to the engine called `conn`
conn = engine.connect()

Use declarative_base and create ORM classes for each table.
You will need a class for Measurement and for Station.
Make sure to define your primary keys.

In [9]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import ForeignKey

class Station (Base):
    __tablename__ = 'stations'
    station = Column(String(255), primary_key = True)
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    

class Measurement(Base):
    __tablename__ = 'hawaii_measurement'
    measurement_id = Column(Integer, primary_key = True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)
    #station = relationship("Station", back_populates="Station.station_name")

In [10]:
# this is used to create tables in the database as per the classes defined
Base.metadata.create_all(engine)

In [11]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [12]:
# Save the reference to the `measurements` table as a variable called `table`
measurements_table = sqlalchemy.Table('hawaii_measurement', metadata, autoload=True)

In [13]:
# Use `table.delete()` to remove any pre-existing data.
# Note that this is a convenience function so that you can re-run the example code multiple times.
# You would not likely do this step in production.
conn.execute(measurements_table.delete())

In [14]:
# Use `table.insert()` to insert the data into the table
# The SQL table is populated during this step
conn.execute(measurements_table.insert(), measurement_data)

In [16]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select count(*) from hawaii_measurement").fetchall()

[(18103,)]

In [17]:
#station_data = Station(station_name='Fido', color='Brown', age=4)

station_df = pd.read_csv('./Resources/hawaii_stations.csv')
station_df

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [18]:
# Save the reference to the `stations` table as a variable called `table`
stations_table = sqlalchemy.Table('stations', metadata, autoload=True)

In [19]:
# Use `table.delete()` to remove any pre-existing data.
# Note that this is a convenience function so that you can re-run the example code multiple times.
# You would not likely do this step in production.
conn.execute(stations_table.delete())

In [20]:
station_data = station_df.to_dict(orient = 'records')
station_data

[{'elevation': 3.0,
  'latitude': 21.2716,
  'longitude': -157.8168,
  'name': 'WAIKIKI 717.2, HI US',
  'station': 'USC00519397'},
 {'elevation': 14.6,
  'latitude': 21.4234,
  'longitude': -157.8015,
  'name': 'KANEOHE 838.1, HI US',
  'station': 'USC00513117'},
 {'elevation': 7.0,
  'latitude': 21.5213,
  'longitude': -157.8374,
  'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US',
  'station': 'USC00514830'},
 {'elevation': 11.9,
  'latitude': 21.3934,
  'longitude': -157.9751,
  'name': 'PEARL CITY, HI US',
  'station': 'USC00517948'},
 {'elevation': 306.6,
  'latitude': 21.4992,
  'longitude': -158.0111,
  'name': 'UPPER WAHIAWA 874.3, HI US',
  'station': 'USC00518838'},
 {'elevation': 19.5,
  'latitude': 21.33556,
  'longitude': -157.71139,
  'name': 'WAIMANALO EXPERIMENTAL FARM, HI US',
  'station': 'USC00519523'},
 {'elevation': 32.9,
  'latitude': 21.45167,
  'longitude': -157.84888999999998,
  'name': 'WAIHEE 837.5, HI US',
  'station': 'USC00519281'},
 {'elevation': 0.9,
  'latitude': 21.3152,
  'longitude': -157.9992,
  'name': 'HONOLULU OBSERVATORY 702.2, HI US',
  'station': 'USC00511918'},
 {'elevation': 152.4,
  'latitude': 21.3331,
  'longitude': -157.8025,
  'name': 'MANOA LYON ARBO 785.2, HI US',
  'station': 'USC00516128'}]

In [21]:
# Use `table.insert()` to insert the data into the table
# The SQL table is populated during this step
conn.execute(stations_table.insert(), station_data)

In [22]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from stations limit 5").fetchall()

[('USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 ('USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 ('USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 ('USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 ('USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]